# SPDX-License-Identifier: LGPL-2.1-or-later
#
# Copyright (C) 2023 Collabora Limited
# Author: Jeny Sadadia <jeny.sadadia@collabora.com>

apiVersion: v1
kind: ConfigMap
metadata:
  name: kernelci-api-config
  namespace: kernelci-api-testns
data:
  redis_host: "redis.kernelci-api.svc.cluster.local"
  mongo_service: "MONGOCONNECTSTRING"
  email_sender: "mail@address.com"
  smtp_host: "smtp.gmail.com"
  smtp_port: "465"
