cloudevents==2.0.0
beanie==2.1.0
fastapi[all]==0.135.3
fastapi-pagination==0.14.3
fastapi-users[beanie, oauth]==15.0.5
fastapi-users-db-beanie==5.0.0
MarkupSafe==2.0.1
pymongo==4.16.0
passlib==1.7.4
pydantic==2.9.2
pymongo-migrate==0.11.0
python-jose[cryptography]==3.5.0
redis==5.0.1
uvicorn[standard]==0.29.0
