cloudevents==1.9.0
fastapi[all]==0.99.1
fastapi-pagination==0.9.3
fastapi-users[beanie, oauth]==10.4.0
fastapi-versioning==0.10.0
MarkupSafe==2.0.1
motor==3.6.0
pymongo==4.9.0
passlib==1.7.4
pydantic==1.10.13
pymongo-migrate==0.11.0
python-jose[cryptography]==3.3.0
redis==5.0.1
uvicorn[standard]==0.29.0
