Hello {{ username }},

You have been invited to access the KernelCI API.

Accept your invite and set your password using this link:

  {{ invite_url }}

If you can't open the link, you can also accept via API by using this token:

  {{ token }}

If you did not expect this invite, you can ignore this email.

