# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the
  # main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        python-version: ['3.10'] # Only supported one at the moment

    steps:

      - name: Check out source code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python packages
        working-directory: docker/api
        run: |
          python --version
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Run pycodestyle
        run: |
          pycodestyle api/*.py

      - name: Run pylint
        run: |
          pylint api.auth
          pylint api.db
          pylint api.models
          pylint api.pubsub
          pylint test
          pylint api.main

      - name: Export environment variables
        run: |
          echo "SECRET_KEY=$(openssl rand -hex 32)" >> $GITHUB_ENV

      - name: Run pytest
        run: |
          pytest -v test/

  lint:
    runs-on: ubuntu-22.04
    name: Lint

    steps:
      - name: Check out source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 32  # This is necessary to get the commits

      - name: Get changed python files between base and head
        run: >
          echo "CHANGED_FILES=$(echo $(git diff --name-only ${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }} -- | grep \.py))" >> $GITHUB_ENV

      - if: env.CHANGED_FILES
        name: Set up Python
        uses: actions/setup-python@master
        with:
          python-version: "3.10"

      - if: env.CHANGED_FILES
        name: Install Python packages
        run: |
          pip install -r docker/api/requirements-dev.txt

      - if: env.CHANGED_FILES
        uses: marian-code/python-lint-annotate@v3
        with:
          python-root-list: ${{ env.CHANGED_FILES }}
          use-black: false
          use-flake8: false
          use-isort: false
          use-mypy: false
          use-pycodestyle: true
          use-pydocstyle: false
          use-vulture: false
          python-version: "3.10"
